{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<h1>Bienvenue sur mon test Symfony</h1>
<img src="{{ asset('build/images/gyroboy.png') }}" alt=""/>
{% endblock %}